<footer>
    <section class="cf wrapper">
        <div class="footer"></div>
    </section>

    <section class="assinatura">
        © eProfessionalTI @DateTime.Now.Year | Todos os direitos Reservados
    </section>

</footer>