<header class="header">
    
        <div class="logo-group">
            <div class="logo-eprofessional">
                <img src="" />
            </div>
    
            <div class="social-media-group">

            </div>
        </div>
    
        <div class="banner">
            <img src="" onclick="window.open('','CAMPANHA')">
        </div>
    
        <div class="contact">

            <div class="contact-text-elements">
                <span class="contact-title">Ligue</span>
        
                <ul class="phone-list">
                    <li>13 99704-1050</li>
                    <li>13 99708-3695</li>
                </ul>
            </div>

            <div class="phone-icon">
                <img src="~/Images/smartphone-logo.png" />
            </div>

        </div>

    </header>
    
    <nav class="navbar-site">
        
        <ul class="nav-items">
            <li>@Html.ActionLink("TRANSPORTADORA", "Index", "Transports", null, new { @class = "nav-item nav-item-link-home" })</li>
            <li>@Html.ActionLink("EXPORTADOR/IMPORTADOR", "Index", "Clientes", null, new { @class = "nav-item nav-item-link-home" })</li>
        </ul>

    </nav>